# Welcome to SQL and API JEOPARDY

<img width=500, src="jeopardy.gif">

# SQL Setup

For the SQL questions you will be using the **Pets** database.  You may answer these questions using sqlite in this notebook or in a GUI of your choice.  The below cells will set up your connection to the database.

In [175]:
import sqlite3
import pandas as pd
#connecting to the sql server
conn = sqlite3.connect('pets.db')
cur = conn.cursor()
cursor.execute("""SELECT * FROM sqlite_master;""")
# cursor.execute("""SELECT name FROM sqlite_master WHERE 'type = 'column""")
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df

,type,name,tbl_name,rootpage,sql
0,table,ProceduresHistory,ProceduresHistory,29,"CREATE TABLE ""ProceduresHistory"" (\n\t""PetID""\..."
1,table,ProceduresDetails,ProceduresDetails,53,"CREATE TABLE ""ProceduresDetails"" (\n\t""Procedu..."
2,table,Pets,Pets,3,"CREATE TABLE ""Pets"" (\n\t""PetID""\tTEXT,\n\t""Na..."
3,index,sqlite_autoindex_Pets_1,Pets,4,None
4,table,Owners,Owners,2,"CREATE TABLE ""Owners"" (\n\t""OwnerID""\tINTEGER,..."

In [169]:
#examine all tables in the database
cursor.execute("""SELECT name
                  FROM Owners
                  JOIN Pets
                  ;""")

print(cursor.fetchall())

OperationalError: ambiguous column name: name

# API Setup

For the API questions we will be using the **SPACEX API**.  You can find additional information about this API [here](https://github.com/r-spacex/SpaceX-API).  The below code will set you up with the response from the API.

In [40]:
import requests

#saving the response from the API
response = requests.get("https://api.spacexdata.com/v3/launches")

response.status_code

200

In [85]:
response.json()

'Trailblazer'