In [1]:
import sqlite3
con = sqlite3.connect('Data/chinook 2.db')
cur = con.cursor()

In [2]:
cur.execute("""SELECT COUNT(FirstName) FROM customers""").fetchall()

[(59,)]

In [4]:
b=['a',' ']

In [5]:
b.pop

In [2]:
class Person:
    
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def print_name(self):
        print(self.firstname, self.lastname)

In [13]:
x = Person('bob', 'sanchez')

In [14]:
x.print_name()

bob sanchez

In [11]:
class Student(Person):
    pass

In [15]:
q = Student('Gary', 'Mortimyer')

In [16]:
q.print_name()

Gary Mortimyer

In [18]:
class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self,fname,lname)

In [19]:
c = Student('Wendy', 'Williams')

In [20]:
c.print_name()

Wendy Williams

In [37]:
class Student(Person):
    
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year
    
    def welcome(self):
        print("welcome", self.firstname, self.lastname, "to the class of ", self.graduationyear)

In [23]:
d = Student('Tracy', 'Macy')

In [25]:
d.print_name()

Tracy Macy

In [26]:
d.graduationyear

2019

In [38]:
r = Student('Randy', 'Marsh', 2022)

In [42]:
r.welcome()

welcome Randy Marsh to the class of  2022