In [2]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('bom.movie_gross.csv.gz')

In [94]:
def money(df):
    for index, row in df.iterrows():
            print('Total for {} is {}'.format(row['title'], int(row['domestic_gross']) + int(row['foreign_gross'])))

In [95]:
money(df.head())

Total for Toy Story 3 is 1067000000
Total for Alice in Wonderland (2010) is 1025500000
Total for Harry Potter and the Deathly Hallows Part 1 is 960300000
Total for Inception is 828300000
Total for Shrek Forever After is 752600000

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [38]:
values = {'studio': 'NA', 'domestic_gross': 0, 'foreign_gross': 0}

In [39]:
df = df.fillna(value=values)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3387 non-null object
domestic_gross    3387 non-null float64
foreign_gross     3387 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [41]:
df.loc[df['title'] == 'The Quake']

          title studio  domestic_gross foreign_gross  year
3382  The Quake  Magn.          6200.0             0  2018

In [71]:
df['foreign_gross'] = pd.to_numeric(df['foreign_gross'], errors = 'coerce')

In [72]:
df['foreign_gross']

0       652000000.0
1       691300000.0
2       664300000.0
3       535700000.0
4       513900000.0
           ...
3382            0.0
3383            0.0
3384            0.0
3385            0.0
3386            0.0
Name: foreign_gross, Length: 3387, dtype: float64

In [81]:
index = df['foreign_gross'].index[df['foreign_gross'].apply(np.isnan)]

In [82]:
index

Int64Index([1872, 1873, 1874, 2760, 3079], dtype='int64')

In [98]:
dfobj = pd.DataFrame(df, columns = ['foreign_gross', 'title'], index = [1872, 1873, 1874, 2760, 3079])

In [99]:
dfobj

     foreign_gross                         title
1872       1,131.6  Star Wars: The Force Awakens
1873       1,019.4                Jurassic World
1874       1,163.0                     Furious 7
2760       1,010.0       The Fate of the Furious
3079       1,369.5        Avengers: Infinity War

In [100]:
df.at[1872, 'foreign_gross']

'1,131.6'

In [108]:
df.at[1872, 'foreign_gross'] = 1131600000

In [109]:
df.at[1872, 'foreign_gross']

1131600000

In [110]:
df.loc[df['title'] == 'Star Wars: The Force Awakens']

                             title studio  domestic_gross foreign_gross  year
1872  Star Wars: The Force Awakens     BV     936700000.0    1131600000  2015

In [111]:
df.at[1873, 'foreign_gross'] = 1019400000

In [112]:
df.at[1874, 'foreign_gross'] = 1163000000

In [113]:
df.at[2760, 'foreign_gross'] = 1010000000

In [114]:
df.at[3079, 'foreign_gross'] = 1369500000

ValueError: too many values to unpack (expected 2)