# warmup answers can be found on slack, my answers as well as classmates answers

WARM UP 1.8 QUESTION:
   
1. Create a list containing the names of 5 friends called friends.
2. Create a second list that only contains the names of friends 2-4 from the list friends and name this new list friends2. Don't just rewrite the list with strings, but instead use list indexing.

In [5]:
friends = ['robbie', 'david', 'daisy', 'frank', 'steve']

In [7]:
friends2 = friends[1:4]
friends2

['david', 'daisy', 'frank']

WARM UP 1.9 QUESTION: 

    Question:
1. Create a dictionary named people where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)
<br>Example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}
2. Delete one object from the dictionary named people

In [54]:
people = {'Steve': [15.2, "Irwin"], 'Tim': [45.1, "Alan"], 'Frank':[70.6, "Jobs"]}
# Example: {'Charles': [23.4, "Darwin"], 'Alan': [42.5, "Turing"]}

In [53]:
del people['Steve']
people

{'Tim': [45.1, 'Alan'], 'Frank': [70.6, 'Jobs']}

WARM UP 1.10
Question:
1. Using the dictionary named people you used yesterday, replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}
2. Write a for loop that goes through all records in the dictionary, and assigns the float numbers into one merged list named ages (see ages)
ages = [23.4, 22.9, 552.9]
3. BONUS:  Calculate with a for loop the median and mean of the ages list.

In [80]:
people['Steve'] = [15.2, 'Jobs']
people
for person in people:
    ages=[]
    for age in person.values():
        ages.append(age[0])

AttributeError: 'str' object has no attribute 'values'

 WARM UP 1.13 QUESTION:
 
Question:
Take the following 2 lists of actors and write a program that returns a list that contains only the elements that are common across both Thor 2 and Ragnarok (without duplicates) called both_casts.

thor2 = ['Chris Hemsworth', 'Natalie Portman', 'Tom Hiddleston', 'Kat Dennings', 'Anthony Hopkins', 'Jaimie Alexander', 'Idris Elba']
               
ragnarok = ['Chris Hemsworth', 'Tessa Thompson', 'Cate Blanchett', 'Tom Hiddleston', 'Mark Ruffalo', 'Jeff Goldblum', 'Karl Urban', 'Idris Elba', 'Anthony Hopkins']

WWARM UP 1.14 QUESTION:

Question:
Write a function called cylinder_vol that calculates the volume of a cylinder. The formula is the cylinders height multiplied
by pi(3.14159) multiplied by the radius squared. The function should take in 2 arguments, the height and radius.
Do not forget to define pi within the functions scope. Call the function for a cylinder with a height of 12 and a
radius of 3.5

WARM UP 1.15

Question:
Take this list names and write a function is_short that selects the names from that list that are 8 characters long.  Then use the filter() method and your function to create a new list, short_names, that contains names that are fewer than 8 characters long.

names = ["Benjamin", "Bernadette", "Brian", "Betty", "Bella", "Brunhilda", "Bruno"]

WARM UP 1.16

Question:
Lambda expressions are functions that do not have a name. They are useful if you want to write a quick 'throw away'function that will not be of use later on in your code.  Using the name list you created yesterday, write a lambda expression within the filter() method that creates the same list, short_names, as you  did yesterday.

WARM UP 1.17

Question:
**NOTE**: This question needs the exam_data.pkl file
Given the pickled dictionary exam_data.pkl do the following:
1. Reads data into a Pandas dataframe named df
2. Sort the data frame first by 'name' in descending order, then by 'score' in ascending order and name that sorted dataframe df_sorted

import pandas as pd
df = pd.read_pickle('exam_data.pkl')

WARMUP 1.24 

Question:
Write a function reverse_the_strings that takes in one argument, a list of strings, and will reverse the order of each string. "Example" becomes "elpmaxE". (edited)

In [2]:
def reverse_the_strings(string):
    return string[::-1]

In [4]:
string = ('Color')
reverse_the_strings(string)

'roloC'